/*modal*/
.modal-content-my {
    height: 500px;
    max-height: 600px;
    background-color: #fefefe;
    margin: 6% auto;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    width: 70%;

}
.close_modal{
    cursor: pointer;
}
.section-modal-my {
    display: flex;
    justify-content: space-between;
    overflow: auto;

    width: 90%;
    margin: 50px auto;
}
.section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    font-size: 50px;
    padding-bottom: 20px
;
}
.element::-webkit-scrollbar { width: 0 !important }















































